################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoDbCrudApp
/MongoDbCrudApp/bin/Debug/net8.0
/MongoDbCrudApp/obj
*.user
